{% extends "dashnav.html" %}

{% block content %}
{{ super() }}

<div class="jumbotron">
   <div class="container"> 
	<div class="starter-template">
          <h1>Welcome {{user.username}}!</h1>
          <p> This is your landing page</p>
            <li> {{user.username}} Belongs to:
                <div class= "list-group-item-spacing">
                    <div class="list-group">
                    {% for team in getUserTeams(user.username) %}
                    <form action="{{url_for('teamview')}}" method="post">
                        <input type="hidden" name="teamname" value="{{team}}"/>
                        <input type="submit" class="btn btn-lg" value="{{ team }}"/>
                    </form>
                    {% endfor %}
                    </div>
                </div> <!-- item spacing -->
             </li>
          <p><a class="btn btn-primary btn-lg" href="#" role="button">Vote</a></p>
   </div><!-- starter-template-->
  </div> 
</div>

         
{% endblock %}

